@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!DOCTYPE html>
<html>
<head>
    <!-- require meta tag -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- title -->
    <title>Home Page</title>
    <!-- bootstrap css -->

    <!-- css -->
    <link rel="stylesheet" href="css/site.css" />
    <!-- icon -->
    <link rel="icon" type="image/png" href="sources/icon/logo_home2.png">
</head>
<body>
<header>
    <nav>
        <p class="nav-item">Pokemon</p>
        <p class="nav-item">Pikachu</p>
        <p class="nav-item">Doraemo</p>
        <p class="nav-item">XXXXXXX</p>
    </nav>
</header>
<a asp-action="Index">Index</a>
@RenderBody()
</body>
</html>
