@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- require meta tag -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- title -->
    <title>UTA95S Movie</title>
    <!-- bootstrap css -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="lib/download/carouselV1.8/slick.min.css" />
    <link rel="stylesheet" href="lib/download/carouselV1.8/slick-theme.min.css"/>
    <link rel="stylesheet" href="lib/download/aosV2.3/aos.css"/>
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
    <!-- css -->
    <link rel="stylesheet" href="css/indexSite.css"/>
    <!-- js -->
    <script src="https://www.google.com/recaptcha/api.js" async defer></script> 

    <!-- icon -->
    <link rel="icon" type="image/png" href="sources/icon/logo_home2.png">

    <!-- Captcha style -->
    <style>
        .rc-anchor-normal{
            background: #000 !important; 
            color: #000 !important; 
        }
        .g-recaptcha {
            -webkit-transform:scale(1.11);
            -webkit-transform-origin:0 0;
        }
        .wrong-login{
            font-size: .85rem;
            padding: 5px;
            border-radius: 3px;
            display: flex;
            justify-content: center;
        }
        .wrong-login ul {
            margin: 0;
            padding: 0;
            list-style-type: none;
        }

        @@media(max-width: 405px) {
            .g-recaptcha {
                -webkit-transform:scale(.78);
                -webkit-transform-origin:0 0;
            }
        }
    </style>
</head>
<body onload="loadPage()" id="body">

<div class="all-load">
    <div class="load-page" id="load-page">
        <div class="word">UTA95S MOVIE....</div>
        <div class="overlay"></div>
    </div>
</div>

<div class="page-container" id="page-body">
    <partial name="IndexLayout/indexHeader"/>
    <div class="content">
        @RenderBody()
    </div>
    <footer class="footer-container">
        <partial name="IndexLayout/indexFooter"/>
    </footer>
</div>


<!-- bootstrap js -->
<script src="lib/download/jqueryV3/jquery.min.js"></script>
<script src="lib/download/letteringV0.7/jquery.lettering.min.js"></script>
<script src="lib/download/carouselV1.8/slick.min.js"></script>
<script src="lib/download/aosV2.3/aos.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://kit.fontawesome.com/c41956cca0.js" crossorigin="anonymous"></script>
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<script src="js/index.js"></script>
<script>
    
</script>
@if (ViewBag.Mess != null)
{
    if (ViewBag.Mess != String.Empty)
    {
        <script>
            window.onload = function () {
                alert("@ViewBag.Mess");
            };
        </script>
    }
}
</body>
</html>

