@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!DOCTYPE html>
<html>
<head>
    <!-- require meta tag -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- title -->
    <title>UTA95S Movie</title>
    <!-- bootstrap css -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="lib/download/carouselV1.8/slick.min.css" />
    <link rel="stylesheet" href="lib/download/carouselV1.8/slick-theme.min.css"/>
    <link rel="stylesheet" href="lib/download/aosV2.3/aos.css"/>
    <!-- css -->
    <link rel="stylesheet" href="css/indexSite.css"/>
    <!-- js -->
    <script src="https://www.google.com/recaptcha/api.js" async defer></script> 

    <!-- icon -->
    <link rel="icon" type="image/png" href="sources/icon/logo_home2.png">

    <!-- Captcha style -->
    <style>
        .rc-anchor-normal{
            background: #000 !important; 
            color: #000 !important; 
        }
        .g-recaptcha {
            -webkit-transform:scale(1.11);
            -webkit-transform-origin:0 0;
        }
    </style>
</head>
<body onload="loadPage()" id="body">

<div class="all-load">
    <div class="load-page" id="load-page">
        <div class="word">UTA95S MOVIE....</div>
        <div class="overlay"></div>
    </div>
</div>


<div class="page-container" id="page-body">
    <partial name="IndexLayout/indexHeader"/>
    <div class="content">
        @RenderBody()
    </div>
    <footer>
        <partial name="IndexLayout/indexFooter"/>
    </footer>
</div>


<!-- bootstrap js -->
<script src="lib/download/jqueryV3/jquery.min.js"></script>
<script src="lib/download/letteringV0.7/jquery.lettering.min.js"></script>
<script src="lib/download/carouselV1.8/slick.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>
<script src="lib/download/aosV2.3/aos.js"></script>
<script src="js/site.js"></script>
<script>
    //AOS
    AOS.init({
        duration: 1500 //global duration
    });
    //slider
    $('.sec3-slider').slick({
        infinite: true,
        slidesToShow: 3,
        slidesToScroll: 2,
        speed: 1500
    });

    function togglePopup() {
        document.getElementById("popup-1")
            .classList.toggle("active");
    }
    //form login
    const loginText = document.querySelector(".title-text .login");
    const loginForm = document.querySelector("form.login");
    const loginBtn = document.querySelector("label.login");
    const signupBtn = document.querySelector("label.signup");
    const signupLink = document.querySelector("form .signup-link a");
    signupBtn.onclick = (() => {
        loginForm.style.marginLeft = "-50%";
        //loginText.style.marginLeft = "-50%";
    });
    loginBtn.onclick = (() => {
        loginForm.style.marginLeft = "0%";
        //loginText.style.marginLeft = "0%";
    });
    signupLink.onclick = (() => {
        signupBtn.click();
        return false;
    });
    //scroll down js
    window.addEventListener("scroll", function () {
        var header = document.querySelector("header");
        header.classList.toggle("sticky", window.scrollY > 0);
    });
    //show passwords
    function checkPass() {
        var pass = document.getElementById("passwords");
        if (pass.type === "password") {
            pass.type = "text";
        } else {
            pass.type = "password";
        }
    }

    //Page Loader
    var setTime;
    function loadPage() {
        var body = document.getElementById('body');
        setTime = setTimeout(showPage, 4500);
        body.style.background = 'none';
    }
    function showPage() {
        document.getElementById("load-page").style.display = "none";
        document.getElementById("page-body").style.display = "block";
    }

    let stars = document.getElementById('star');
    let half_moon = document.getElementById('halfmoon');
    let cloud = document.getElementById('cloud');
    let grass2 = document.getElementById('grass2');
    let tree = document.getElementById('tree');
    let grass1 = document.getElementById('grass1');
    let screen = document.getElementById('screen');
    let people = document.getElementById('people');
    let grass3 = document.getElementById('grass3');
    //window scroll events
    window.addEventListener('scroll',
        function() {
            let value = window.scrollY;
            if (value < 450) {
                stars.style.left = value * 0.3 + 'px';
                cloud.style.left = value * 0.25 + 'px';
                half_moon.style.marginTop = value/15 + '%';
                grass2.style.marginTop = value/5 + 'px';
                tree.style.marginTop = value/3 + 'px';
            }
            console.log(value);
        });

    $(document).ready(function() {
        $(window).scroll(function() {
            if ($(this).scrollTop() > 50) {
                $("#people").css({ "opacity": "0" });
            } else {
                $("#people").css({ "opacity": "1" });
            }
        });
    });
</script>

</body>
</html>

