USE [UTA95S_MOVIE_WEB]
GO
/****** Object:  Table [dbo].[ACTOR]    Script Date: 6/1/2021 3:22:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ACTOR](
	[AID] [int] NOT NULL,
	[AcName] [nvarchar](100) NULL,
	[AcWiki] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[AID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DIRECTOR]    Script Date: 6/1/2021 3:22:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIRECTOR](
	[DID] [int] NOT NULL,
	[DiName] [nvarchar](100) NULL,
	[DiNationality] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[DID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[FAVORITE_MOVIES]    Script Date: 6/1/2021 3:22:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FAVORITE_MOVIES](
	[UID] [int] NULL,
	[MID] [int] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[GENRE]    Script Date: 6/1/2021 3:22:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GENRE](
	[GID] [int] IDENTITY(1,1) NOT NULL,
	[GName] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[GID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MOVIE_ACTOR]    Script Date: 6/1/2021 3:22:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MOVIE_ACTOR](
	[AID] [int] NULL,
	[MID] [int] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MOVIE_DIRECTOR]    Script Date: 6/1/2021 3:22:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MOVIE_DIRECTOR](
	[DID] [int] NULL,
	[MID] [int] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MOVIE_GENRE]    Script Date: 6/1/2021 3:22:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MOVIE_GENRE](
	[GID] [int] NULL,
	[MID] [int] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MOVIES]    Script Date: 6/1/2021 3:22:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MOVIES](
	[MID] [int] IDENTITY(1,1) NOT NULL,
	[GID] [int] NULL,
	[AID] [int] NULL,
	[DID] [int] NULL,
	[SID] [int] NULL,
	[Title] [nvarchar](255) NULL,
	[Description] [nvarchar](max) NULL,
	[Nationality] [nvarchar](50) NULL,
	[Languages] [nvarchar](50) NULL,
	[Release] [nvarchar](50) NULL,
	[MovieLink] [nvarchar](max) NULL,
	[Lenght] [nvarchar](50) NULL,
	[View] [int] NULL,
	[DateADD] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[MID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[RATE]    Script Date: 6/1/2021 3:22:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RATE](
	[RID] [int] NOT NULL,
	[UID] [int] NULL,
	[MID] [int] NULL,
	[Point] [int] NULL,
	[Comment] [nvarchar](max) NULL,
	[DateRate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[RID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[STATUS]    Script Date: 6/1/2021 3:22:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STATUS](
	[SID] [int] IDENTITY(1,1) NOT NULL,
	[SaName] [nvarchar](75) NULL,
PRIMARY KEY CLUSTERED 
(
	[SID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[USERM]    Script Date: 6/1/2021 3:22:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USERM](
	[UID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NULL,
	[Email] [nvarchar](100) NULL,
	[Passwords] [nvarchar](255) NULL,
	[UIMG] [nvarchar](max) NULL,
	[Role] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[UID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
ALTER TABLE [dbo].[MOVIES] ADD  DEFAULT ((0)) FOR [View]
GO
ALTER TABLE [dbo].[FAVORITE_MOVIES]  WITH CHECK ADD FOREIGN KEY([MID])
REFERENCES [dbo].[MOVIES] ([MID])
GO
ALTER TABLE [dbo].[FAVORITE_MOVIES]  WITH CHECK ADD FOREIGN KEY([UID])
REFERENCES [dbo].[USERM] ([UID])
GO
ALTER TABLE [dbo].[MOVIE_ACTOR]  WITH CHECK ADD FOREIGN KEY([AID])
REFERENCES [dbo].[ACTOR] ([AID])
GO
ALTER TABLE [dbo].[MOVIE_ACTOR]  WITH CHECK ADD FOREIGN KEY([MID])
REFERENCES [dbo].[MOVIES] ([MID])
GO
ALTER TABLE [dbo].[MOVIE_DIRECTOR]  WITH CHECK ADD FOREIGN KEY([DID])
REFERENCES [dbo].[DIRECTOR] ([DID])
GO
ALTER TABLE [dbo].[MOVIE_DIRECTOR]  WITH CHECK ADD FOREIGN KEY([MID])
REFERENCES [dbo].[MOVIES] ([MID])
GO
ALTER TABLE [dbo].[MOVIE_GENRE]  WITH CHECK ADD FOREIGN KEY([GID])
REFERENCES [dbo].[GENRE] ([GID])
GO
ALTER TABLE [dbo].[MOVIE_GENRE]  WITH CHECK ADD FOREIGN KEY([MID])
REFERENCES [dbo].[MOVIES] ([MID])
GO
ALTER TABLE [dbo].[MOVIES]  WITH CHECK ADD FOREIGN KEY([AID])
REFERENCES [dbo].[ACTOR] ([AID])
GO
ALTER TABLE [dbo].[MOVIES]  WITH CHECK ADD FOREIGN KEY([DID])
REFERENCES [dbo].[DIRECTOR] ([DID])
GO
ALTER TABLE [dbo].[MOVIES]  WITH CHECK ADD FOREIGN KEY([GID])
REFERENCES [dbo].[GENRE] ([GID])
GO
ALTER TABLE [dbo].[MOVIES]  WITH CHECK ADD FOREIGN KEY([SID])
REFERENCES [dbo].[STATUS] ([SID])
GO
ALTER TABLE [dbo].[RATE]  WITH CHECK ADD FOREIGN KEY([MID])
REFERENCES [dbo].[MOVIES] ([MID])
GO
ALTER TABLE [dbo].[RATE]  WITH CHECK ADD FOREIGN KEY([UID])
REFERENCES [dbo].[USERM] ([UID])
GO
