
@{
    //Layout = null;
}

<footer class="py-4 bg-light mt-auto">
    <div class="container-fluid px-4">
        <div class="d-flex align-items-center justify-content-between small manager-footer-content">
            <div class="text-muted">Copyright &copy; UTA95S TEAM</div>
            <div>
                <a href="https://www.termsfeed.com/live/e3c51e1f-dd04-4568-ba9d-617bca9d4c5d">Privacy &amp; Terms</a>
                &middot;
                <a asp-route="mail">Contact Us</a>
            </div>
        </div>
    </div>
</footer>