
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}
<div class="left">
    <div class="lateCD">
        <div class="lateCD-title">
            <div class="cd-container">
                <p class="altitle">Movie&nbsp;Details</p>
            </div>
        </div>

    </div>       
</div>