
@{
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}
@*1st update*@
<div class="big-image-container">
    @*replace big img here*@
    <div class="content" style=" background: url(../sources/images/bigSlider/1143269.jpg); background-position: center; background-size: cover; ">
        <div class="left-content">
            <h2>Kimetsu no <span>Yaiba</span></h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Ullamcorper eget nulla facilisi etiam dignissim. Dignissim sodales ut eu sem.
                Mauris nunc congue nisi vitae suscipit tellus mauris a.
                Lectus arcu bibendum at varius vel pharetra vel.
            </p>
            <a href="#" class="play-video"><img src="~/sources/icon/video/play.png"/>
                <span>Watch Trailer</span>
            </a>
        </div>
        <div class="right-content slide" style="background: url(../sources/images/slide/slide-demo.jpg); background-size: cover;"></div>
    </div>
</div>
<div class="trailer" id="trailer-video">
    <iframe allowfullscreen src="https://www.youtube.com/embed/VQGCKyvzIM4"></iframe>
    <img class="close-trailer" src="~/sources/icon/video/close.png"/>
</div>

@*top 7 random slider*@
<div class="top3_random">
    <div class="movie_title">
        <i class='bx bx-movie-play bx-tada' ></i>
        <span>your movie today</span>
    </div>
    <div class="owl-carousel" id="top3_random_slide">
        <!--1-->
        <a class="movie-item">
            <img src="~/sources/images/slide/slide-demo.jpg" alt="">
            <div class="movie-item-content">
                <div class="movie-item-title">
                    Kimetsu no Yaiba
                </div>
                <div class="movie-infos">
                    <div class="movie-info">
                        <i class="bx bxs-star"></i>
                        <span>9.5</span>
                    </div>
                    <div class="movie-info">
                        <i class="bx bxs-time"></i>
                        <span>24 mins</span>
                    </div>
                    <div class="movie-info">
                        <span>HD</span>
                    </div>
                    <div class="movie-info">
                        <span>10+</span>
                    </div>
                </div>
            </div>
        </a>
        <!--2-->
        <a class="movie-item">
            <img src="~/sources/images/slide/pokemon_xyz.jpg" alt="">
            <div class="movie-item-content">
                <div class="movie-item-title">
                    Pokemon XYZ
                </div>
                <div class="movie-infos">
                    <div class="movie-info">
                        <i class="bx bxs-star"></i>
                        <span>9.5</span>
                    </div>
                    <div class="movie-info">
                        <i class="bx bxs-time"></i>
                        <span>24 mins</span>
                    </div>
                    <div class="movie-info">
                        <span>HD</span>
                    </div>
                    <div class="movie-info">
                        <span>10+</span>
                    </div>
                </div>
            </div>
        </a>
        <!--3-->
        <a class="movie-item">
            <img src="~/sources/images/slide/Myriad_Colors_Phantom_World.jpg" alt="">
            <div class="movie-item-content">
                <div class="movie-item-title">
                    Phantom World
                </div>
                <div class="movie-infos">
                    <div class="movie-info">
                        <i class="bx bxs-star"></i>
                        <span>9.5</span>
                    </div>
                    <div class="movie-info">
                        <i class="bx bxs-time"></i>
                        <span>24 mins</span>
                    </div>
                    <div class="movie-info">
                        <span>HD</span>
                    </div>
                    <div class="movie-info">
                        <span>10+</span>
                    </div>
                </div>
            </div>
        </a>
        <!--4-->
        <a class="movie-item">
            <img src="~/sources/images/slide/naruto.jpg" alt="">
            <div class="movie-item-content">
                <div class="movie-item-title">
                    Naruto
                </div>
                <div class="movie-infos">
                    <div class="movie-info">
                        <i class="bx bxs-star"></i>
                        <span>9.5</span>
                    </div>
                    <div class="movie-info">
                        <i class="bx bxs-time"></i>
                        <span>24 mins</span>
                    </div>
                    <div class="movie-info">
                        <span>HD</span>
                    </div>
                    <div class="movie-info">
                        <span>10+</span>
                    </div>
                </div>
            </div>
        </a>
        <!--5-->
        <a class="movie-item">
            <img src="~/sources/images/slide/one_piece.jpg" alt="">
            <div class="movie-item-content">
                <div class="movie-item-title">
                    One Piece
                </div>
                <div class="movie-infos">
                    <div class="movie-info">
                        <i class="bx bxs-star"></i>
                        <span>9.5</span>
                    </div>
                    <div class="movie-info">
                        <i class="bx bxs-time"></i>
                        <span>24 mins</span>
                    </div>
                    <div class="movie-info">
                        <span>HD</span>
                    </div>
                    <div class="movie-info">
                        <span>13+</span>
                    </div>
                </div>
            </div>
        </a>
        <!--6-->
        <a class="movie-item">
            <img src="~/sources/images/slide/pokemon_movie.jpg" alt="">
            <div class="movie-item-content">
                <div class="movie-item-title">
                    Pokemon The Movie
                </div>
                <div class="movie-infos">
                    <div class="movie-info">
                        <i class="bx bxs-star"></i>
                        <span>9.5</span>
                    </div>
                    <div class="movie-info">
                        <i class="bx bxs-time"></i>
                        <span>120 mins</span>
                    </div>
                    <div class="movie-info">
                        <span>HD</span>
                    </div>
                    <div class="movie-info">
                        <span>10+</span>
                    </div>
                </div>
            </div>
        </a>
    </div>
</div>

@*latest update*@
<div class="section_last">
    <div class="sec_last_container">
        <div class="movie_title">
            <i class='bx bxs-videos bx-flashing' ></i>
            <span>Recently update</span>
        </div>
        <div class="movie-slide carousel-nav-center owl-carousel">
            <!--1-->
            <a href="#" class="movie-item">
                <img src="~/sources/images/slide/slide-demo.jpg" alt="">
                <div class="movie-item-content">
                    <div class="movie-item-title">
                        Kimetsu no Yaiba
                    </div>
                    <div class="movie-infos">
                        <div class="movie-info">
                            <i class="bx bxs-star"></i>
                            <span>9.5</span>
                        </div>
                        <div class="movie-info">
                            <i class="bx bxs-time"></i>
                            <span>24 mins</span>
                        </div>
                        <div class="movie-info">
                            <span>HD</span>
                        </div>
                        <div class="movie-info">
                            <span>10+</span>
                        </div>
                    </div>
                </div>
            </a>
            <!--2-->
            <a href="#" class="movie-item">
                <img src="~/sources/images/slide/taitei maou.jpg" alt="">
                <div class="movie-item-content">
                    <div class="movie-item-title">
                        Taitei Maou
                    </div>
                    <div class="movie-infos">
                        <div class="movie-info">
                            <i class="bx bxs-star"></i>
                            <span>9.5</span>
                        </div>
                        <div class="movie-info">
                            <i class="bx bxs-time"></i>
                            <span>24 mins</span>
                        </div>
                        <div class="movie-info">
                            <span>HD</span>
                        </div>
                        <div class="movie-info">
                            <span>13+</span>
                        </div>
                    </div>
                </div>
            </a>
            <!--3-->
            <a href="#" class="movie-item">
                <img src="~/sources/images/slide/genjitsu_shugi.jpg" alt="">
                <div class="movie-item-content">
                    <div class="movie-item-title">
                        Genjitsu Shugi Yuusha
                    </div>
                    <div class="movie-infos">
                        <div class="movie-info">
                            <i class="bx bxs-star"></i>
                            <span>9.5</span>
                        </div>
                        <div class="movie-info">
                            <i class="bx bxs-time"></i>
                            <span>24 mins</span>
                        </div>
                        <div class="movie-info">
                            <span>HD</span>
                        </div>
                        <div class="movie-info">
                            <span>14+</span>
                        </div>
                    </div>
                </div>
            </a>
            <!--4-->
            <a href="#" class="movie-item">
                <img src="~/sources/images/slide/irumakun_ss2.jpg" alt="">
                <div class="movie-item-content">
                    <div class="movie-item-title">
                        Mairimashita! Iruma-kun SS2
                    </div>
                    <div class="movie-infos">
                        <div class="movie-info">
                            <i class="bx bxs-star"></i>
                            <span>9.5</span>
                        </div>
                        <div class="movie-info">
                            <i class="bx bxs-time"></i>
                            <span>24 mins</span>
                        </div>
                        <div class="movie-info">
                            <span>HD</span>
                        </div>
                        <div class="movie-info">
                            <span>14+</span>
                        </div>
                    </div>
                </div>
            </a>
            <!--5-->
            <a href="#" class="movie-item">
                <img src="~/sources/images/slide/tokyo_revenger.jpg" alt="">
                <div class="movie-item-content">
                    <div class="movie-item-title">
                        Tokyo Revengers
                    </div>
                    <div class="movie-infos">
                        <div class="movie-info">
                            <i class="bx bxs-star"></i>
                            <span>9.5</span>
                        </div>
                        <div class="movie-info">
                            <i class="bx bxs-time"></i>
                            <span>24 mins</span>
                        </div>
                        <div class="movie-info">
                            <span>HD</span>
                        </div>
                        <div class="movie-info">
                            <span>14+</span>
                        </div>
                    </div>
                </div>
            </a>
            <!--6-->
            <a href="#" class="movie-item">
                <img src="~/sources/images/slide/shinigami bocchan.jpg" alt="">
                <div class="movie-item-content">
                    <div class="movie-item-title">
                        Shinigami Bocchan
                    </div>
                    <div class="movie-infos">
                        <div class="movie-info">
                            <i class="bx bxs-star"></i>
                            <span>9.5</span>
                        </div>
                        <div class="movie-info">
                            <i class="bx bxs-time"></i>
                            <span>24 mins</span>
                        </div>
                        <div class="movie-info">
                            <span>HD</span>
                        </div>
                        <div class="movie-info">
                            <span>14+</span>
                        </div>
                    </div>
                </div>
            </a>
            <!--7-->
            <a href="#" class="movie-item">
                <img src="~/sources/images/slide/eden_zero.jpg" alt="">
                <div class="movie-item-content">
                    <div class="movie-item-title">
                        Eden Zero
                    </div>
                    <div class="movie-infos">
                        <div class="movie-info">
                            <i class="bx bxs-star"></i>
                            <span>9.5</span>
                        </div>
                        <div class="movie-info">
                            <i class="bx bxs-time"></i>
                            <span>24 mins</span>
                        </div>
                        <div class="movie-info">
                            <span>HD</span>
                        </div>
                        <div class="movie-info">
                            <span>14+</span>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        
    </div>
</div>

@*japanese drama update*@
<div class="section_last">
    <div class="sec_last_container">
        <div class="movie_title">
            <i class='bx bx-aperture bx-spin' ></i>
            <span>Japanese Drama</span>
        </div>
        <div class="movie-slide carousel-nav-center owl-carousel">
            <!--1-->
            <a href="#" class="movie-item">
                <img src="~/sources/images/slide/japan_drama/gokudolls.jpg" alt="">
                <div class="movie-item-content">
                    <div class="movie-item-title">
                        Gokudolls Live Action
                    </div>
                    <div class="movie-infos">
                        <div class="movie-info">
                            <i class="bx bxs-star"></i>
                            <span>9.5</span>
                        </div>
                        <div class="movie-info">
                            <i class="bx bxs-time"></i>
                            <span>24 mins</span>
                        </div>
                        <div class="movie-info">
                            <span>HD</span>
                        </div>
                        <div class="movie-info">
                            <span>14+</span>
                        </div>
                    </div>
                </div>
            </a>
            <!--2-->
            <a href="#" class="movie-item">
                <img src="~/sources/images/slide/japan_drama/hapi_mari_live.jpg" alt="">
                <div class="movie-item-content">
                    <div class="movie-item-title">
                        Hapi Mari
                    </div>
                    <div class="movie-infos">
                        <div class="movie-info">
                            <i class="bx bxs-star"></i>
                            <span>9.5</span>
                        </div>
                        <div class="movie-info">
                            <i class="bx bxs-time"></i>
                            <span>24 mins</span>
                        </div>
                        <div class="movie-info">
                            <span>HD</span>
                        </div>
                        <div class="movie-info">
                            <span>14+</span>
                        </div>
                    </div>
                </div>
            </a>
            <!--3-->
            <a href="#" class="movie-item">
                <img src="~/sources/images/slide/japan_drama/kamen_teacher.jpg" alt="">
                <div class="movie-item-content">
                    <div class="movie-item-title">
                        Kamen Teacher
                    </div>
                    <div class="movie-infos">
                        <div class="movie-info">
                            <i class="bx bxs-star"></i>
                            <span>9.5</span>
                        </div>
                        <div class="movie-info">
                            <i class="bx bxs-time"></i>
                            <span>24 mins</span>
                        </div>
                        <div class="movie-info">
                            <span>HD</span>
                        </div>
                        <div class="movie-info">
                            <span>14+</span>
                        </div>
                    </div>
                </div>
            </a>
            <!--4-->
            <a href="#" class="movie-item">
                <img src="~/sources/images/slide/japan_drama/nigeru_wa_haji.jpg" alt="">
                <div class="movie-item-content">
                    <div class="movie-item-title">
                        Nigeru wa Haji
                    </div>
                    <div class="movie-infos">
                        <div class="movie-info">
                            <i class="bx bxs-star"></i>
                            <span>9.5</span>
                        </div>
                        <div class="movie-info">
                            <i class="bx bxs-time"></i>
                            <span>24 mins</span>
                        </div>
                        <div class="movie-info">
                            <span>HD</span>
                        </div>
                        <div class="movie-info">
                            <span>14+</span>
                        </div>
                    </div>
                </div>
            </a>
            <!--5-->
            <a href="#" class="movie-item">
                <img src="~/sources/images/slide/japan_drama/nobunaga_concerto.jpg" alt="">
                <div class="movie-item-content">
                    <div class="movie-item-title">
                        Nobunaga Concerto
                    </div>
                    <div class="movie-infos">
                        <div class="movie-info">
                            <i class="bx bxs-star"></i>
                            <span>9.5</span>
                        </div>
                        <div class="movie-info">
                            <i class="bx bxs-time"></i>
                            <span>24 mins</span>
                        </div>
                        <div class="movie-info">
                            <span>HD</span>
                        </div>
                        <div class="movie-info">
                            <span>14+</span>
                        </div>
                    </div>
                </div>
            </a>
            <!--6-->
            <a href="#" class="movie-item">
                <img src="~/sources/images/slide/japan_drama/relife_live.jpg" alt="">
                <div class="movie-item-content">
                    <div class="movie-item-title">
                        Relife Live Action
                    </div>
                    <div class="movie-infos">
                        <div class="movie-info">
                            <i class="bx bxs-star"></i>
                            <span>9.5</span>
                        </div>
                        <div class="movie-info">
                            <i class="bx bxs-time"></i>
                            <span>24 mins</span>
                        </div>
                        <div class="movie-info">
                            <span>HD</span>
                        </div>
                        <div class="movie-info">
                            <span>14+</span>
                        </div>
                    </div>
                </div>
            </a>
            <!--7-->
            <a href="#" class="movie-item">
                <img src="~/sources/images/slide/japan_drama/uso_no_senso.jpg" alt="">
                <div class="movie-item-content">
                    <div class="movie-item-title">
                        Uso no Senso
                    </div>
                    <div class="movie-infos">
                        <div class="movie-info">
                            <i class="bx bxs-star"></i>
                            <span>9.5</span>
                        </div>
                        <div class="movie-info">
                            <i class="bx bxs-time"></i>
                            <span>24 mins</span>
                        </div>
                        <div class="movie-info">
                            <span>HD</span>
                        </div>
                        <div class="movie-info">
                            <span>14+</span>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        
    </div>
</div>

@*advanced search*@
<div class="advanced_search">
    <div class="advanced_content">
        <a href="#" class="advanced_title">
            <span>Advanced Search&nbsp;
                <i class='bx bx-search-alt bx-tada bx-rotate-90' ></i>
            </span>
        </a>
        <div class="advanced_img">
            <img src="~/sources/images/advanced/4955664.png" alt=""/>
        </div>
    </div>
</div>

@*section card details*@
<div class="section">
    <div class="card-container">
        <div class="pricing-header">
            UTA<span class="main-color">95</span>s account
        </div>
        <div class="pricing-list">
            <div class="row row-pricing">
                <!--box1-->
                <div class="col-card-4 col-c-md-12 col-c-sm-12">
                    <div class="pricing-box">
                        <div class="pricing-box-header">
                            <div class="pricing-name">
                                Guest
                            </div>
                            <div class="pricing-price">
                                Free
                            </div>
                        </div>
                        <div class="pricing-box-content">
                            <p>Originals</p>
                            <p><del>Profile</del></p>
                            <p><del>Favorite Page</del></p>
                            <p><del>Advanced Search</del></p>
                        </div>
                        <div class="pricing-box-action">
                            <a asp-controller="Index" asp-action="Index" class="box-action-btn">
                                <span>Register Now</span>
                            </a>
                        </div>
                    </div>
                </div>
                <!--box2-->
                <div class="col-card-4 col-c-md-12 col-c-sm-12">
                    <div class="pricing-box highlight">
                        <div class="pricing-box-header">
                            <div class="pricing-name">
                                Member
                            </div>
                            <div class="pricing-price">
                                Register
                            </div>
                        </div>
                        <div class="pricing-box-content">
                            <p>Originals</p>
                            <p>Profile</p>
                            <p>Favorite Page</p>
                            <p>Advanced Search</p>
                        </div>
                        <div class="pricing-box-action">
                            <a asp-controller="Index" asp-action="Index" class="box-action-btn">
                                <span>Register Now</span>
                            </a>
                        </div>
                    </div>
                </div>
                <!--box3-->
                <div class="col-card-4 col-c-md-12 col-c-sm-12">
                    <div class="pricing-box">
                        <div class="pricing-box-header">
                            <div class="pricing-name">
                                Moderator
                            </div>
                            <div class="pricing-price">
                                $4.99<span>/month</span>
                            </div>
                        </div>
                        <div class="pricing-box-content">
                            <p class="box-mod"><i class='bx bx-message-rounded-detail bx-tada bx-rotate-90' ></i>&nbsp;
                                5 Slots<span>/only</span></p>
                            <p>Moderating member</p>
                            <p>Moderating discord</p>
                            <p>All Member Options</p>
                        </div>
                        <div class="pricing-box-action">
                            <a href="#" class="box-action-btn">
                                <span>Contact Us</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

