
@{
    ViewData["Title"] = "RandomCode";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}
<div class="left">
    <div class="lateCD">
        <div class="lateCD-title">
            <div class="cd-container">
                <p class="altitle">Contact&nbsp;Us</p>
            </div>
        </div>

        <!--contact note-->
        <div class="contact-container">
            <div class="form">
                <div class="contact-info">
                    <h3 class="title">Hi there! Fill this form to Contact Us</h3>
                    <p class="text">We are merely functioning as an index of content found publicly on the 
                        Internet and does not accept responsibility for content hosted on third-party websites. 
                        All trademarks, logos, and images are the property of their respective and rightful owners.
                    </p>
                    <div class="contact-icon">
                        <img src="~/sources/images/gif/contact.gif" alt=""/>
                    </div>
                    <div class="social-media">
                        <p>Connect with us :</p>
                        <div class="social-icons">
                            <div class="socials-item">
                                <a title="mailto" href="mailto:uta95s.verify@gmail.com" target="_blank">
                                    <i class="fas fa-envelope"></i>
                                </a>
                            </div>
                            <div class="socials-item">
                                <a title="fb-contact" href="https://www.facebook.com/groups/uta95s">
                                    <i class="fab fa-facebook-f"></i>
                                </a>
                            </div>
                            <div class="socials-item">
                                <a title="discord-fp" href="https://discord.gg/vbtRkSn">
                                    <i class="fab fa-discord"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="contact-form">
                    <span class="circle one"></span>
                    <span class="circle two"></span>
                    <!--contact mail api-->
                    <form action="https://formspree.io/f/meqpyoop" method="post" enctype="multipart/form-data">
                        <h3 class="title">Contact us</h3>
                        <div class="input-container">
                            <input type="text" name="name" class="input" required="">
                            <label for="">Username</label>
                            <span>&nbsp;Username&nbsp;</span>
                        </div>
                        <div class="input-container">
                            <input type="email" name="email" class="input" required="">
                            <label for="">Email</label>
                            <span>&nbsp;Email&nbsp;</span>
                        </div>
                        <div class="input-container">
                            <input type="tel" name="phone" class="input">
                            <label for="">Phone</label>
                            <span>&nbsp;Phone&nbsp;</span>
                        </div>
                        <div class="input-container textarea">
                            <textarea name="message" class="input" required=""></textarea>
                            <label for="">Message</label>
                            <span>&nbsp;Message&nbsp;</span>
                        </div>
                        <input type="submit" value="Send" class="btn">
                    </form>
                </div>
            </div>
        </div>
    </div>       
</div>





