
@{
    ViewData["Title"] = "Movies";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<div class="films-container">
    <div class="films-left">
        <div class="movie-title">
            <span>Kimi no Na Wa</span>
        </div>
        <div class="movie-video">
            <div class="uta-video">
                <iframe class="yt-frame" width="100%" height="100%"
                        src="https://short.ink/XogV27S7wo" allowfullscreen>
                </iframe>
            </div>
        </div>
        <div class="movie-episode">
            <div class="row-pricing episode-content" style="margin: 0;">
                @*list episode here - for each episode 1*@
                <a href="#" title="episode" class="col-card-0 col-c-md-0 col-c-sm-0 episode">1</a>
                <a class="col-card-0 col-c-md-0 col-c-sm-0 episode">2</a>
                <a class="col-card-0 col-c-md-0 col-c-sm-0 episode">3</a>
                <a class="col-card-0 col-c-md-0 col-c-sm-0 episode">4</a>
                <a class="col-card-0 col-c-md-0 col-c-sm-0 episode">5</a>
                <a class="col-card-0 col-c-md-0 col-c-sm-0 episode">6</a>
                <a class="col-card-0 col-c-md-0 col-c-sm-0 episode">7</a>
                <a class="col-card-0 col-c-md-0 col-c-sm-0 episode">8</a>
                <a class="col-card-0 col-c-md-0 col-c-sm-0 episode">9</a>
                <a class="col-card-0 col-c-md-0 col-c-sm-0 episode">10</a>
            </div>
        </div>
        <div class="movie-slider">
        <div class="section_last movie_last">
            <div class="sec_last_container">
                <div class="movie_title">
                    <i class='bx bxs-videos bx-flashing'></i>
                    <span>Recently update</span>
                </div>
                <div class="movie-player-slide carousel-nav-center owl-carousel">
                    <!--1-->
                    <a href="#" class="movie-item">
                        <img src="~/sources/images/slide/slide-demo.jpg" alt="">
                        <div class="movie-item-content">
                            <div class="movie-item-title">
                                Kimetsu no Yaiba
                            </div>
                            <div class="movie-infos">
                                <div class="movie-info">
                                    <i class="bx bxs-star"></i>
                                    <span>9.5</span>
                                </div>
                                <div class="movie-info">
                                    <i class="bx bxs-time"></i>
                                    <span>24 mins</span>
                                </div>
                                <div class="movie-info">
                                    <span>HD</span>
                                </div>
                                <div class="movie-info">
                                    <span>10+</span>
                                </div>
                            </div>
                        </div>
                    </a>
                    <!--2-->
                    <a href="#" class="movie-item">
                        <img src="~/sources/images/slide/taitei maou.jpg" alt="">
                        <div class="movie-item-content">
                            <div class="movie-item-title">
                                Taitei Maou
                            </div>
                            <div class="movie-infos">
                                <div class="movie-info">
                                    <i class="bx bxs-star"></i>
                                    <span>9.5</span>
                                </div>
                                <div class="movie-info">
                                    <i class="bx bxs-time"></i>
                                    <span>24 mins</span>
                                </div>
                                <div class="movie-info">
                                    <span>HD</span>
                                </div>
                                <div class="movie-info">
                                    <span>13+</span>
                                </div>
                            </div>
                        </div>
                    </a>
                    <!--3-->
                    <a href="#" class="movie-item">
                        <img src="~/sources/images/slide/genjitsu_shugi.jpg" alt="">
                        <div class="movie-item-content">
                            <div class="movie-item-title">
                                Genjitsu Shugi Yuusha
                            </div>
                            <div class="movie-infos">
                                <div class="movie-info">
                                    <i class="bx bxs-star"></i>
                                    <span>9.5</span>
                                </div>
                                <div class="movie-info">
                                    <i class="bx bxs-time"></i>
                                    <span>24 mins</span>
                                </div>
                                <div class="movie-info">
                                    <span>HD</span>
                                </div>
                                <div class="movie-info">
                                    <span>14+</span>
                                </div>
                            </div>
                        </div>
                    </a>
                    <!--4-->
                    <a href="#" class="movie-item">
                        <img src="~/sources/images/slide/irumakun_ss2.jpg" alt="">
                        <div class="movie-item-content">
                            <div class="movie-item-title">
                                Mairimashita! Iruma-kun SS2
                            </div>
                            <div class="movie-infos">
                                <div class="movie-info">
                                    <i class="bx bxs-star"></i>
                                    <span>9.5</span>
                                </div>
                                <div class="movie-info">
                                    <i class="bx bxs-time"></i>
                                    <span>24 mins</span>
                                </div>
                                <div class="movie-info">
                                    <span>HD</span>
                                </div>
                                <div class="movie-info">
                                    <span>14+</span>
                                </div>
                            </div>
                        </div>
                    </a>
                    <!--5-->
                    <a href="#" class="movie-item">
                        <img src="~/sources/images/slide/tokyo_revenger.jpg" alt="">
                        <div class="movie-item-content">
                            <div class="movie-item-title">
                                Tokyo Revengers
                            </div>
                            <div class="movie-infos">
                                <div class="movie-info">
                                    <i class="bx bxs-star"></i>
                                    <span>9.5</span>
                                </div>
                                <div class="movie-info">
                                    <i class="bx bxs-time"></i>
                                    <span>24 mins</span>
                                </div>
                                <div class="movie-info">
                                    <span>HD</span>
                                </div>
                                <div class="movie-info">
                                    <span>14+</span>
                                </div>
                            </div>
                        </div>
                    </a>
                    <!--6-->
                    <a href="#" class="movie-item">
                        <img src="~/sources/images/slide/shinigami bocchan.jpg" alt="">
                        <div class="movie-item-content">
                            <div class="movie-item-title">
                                Shinigami Bocchan
                            </div>
                            <div class="movie-infos">
                                <div class="movie-info">
                                    <i class="bx bxs-star"></i>
                                    <span>9.5</span>
                                </div>
                                <div class="movie-info">
                                    <i class="bx bxs-time"></i>
                                    <span>24 mins</span>
                                </div>
                                <div class="movie-info">
                                    <span>HD</span>
                                </div>
                                <div class="movie-info">
                                    <span>14+</span>
                                </div>
                            </div>
                        </div>
                    </a>
                    <!--7-->
                    <a href="#" class="movie-item">
                        <img src="~/sources/images/slide/eden_zero.jpg" alt="">
                        <div class="movie-item-content">
                            <div class="movie-item-title">
                                Eden Zero
                            </div>
                            <div class="movie-infos">
                                <div class="movie-info">
                                    <i class="bx bxs-star"></i>
                                    <span>9.5</span>
                                </div>
                                <div class="movie-info">
                                    <i class="bx bxs-time"></i>
                                    <span>24 mins</span>
                                </div>
                                <div class="movie-info">
                                    <span>HD</span>
                                </div>
                                <div class="movie-info">
                                    <span>14+</span>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        </div>
        <div class="movie-facebook-cmt">
            <div class="fb-cmt-title">Feel free to share us your opinion.</div>
            <div class="fb-comment-movie">
                <div id="fb-root"></div>
                <div class="fb-comments"
                     data-href="https://localhost:44309/films"
                     data-width="100px" data-numposts="100"
                     data-mobile="true"></div>
            </div>
        </div>
    </div>
<div class="films-right">
    <div class="films-right-title">
        <span>Lastest Updates</span>
    </div>
    <!--1-->
    <a href="#" class="movie-item films-right-item">
        <img src="~/sources/images/slide/slide-demo.jpg" alt="">
        <div class="movie-item-content">
            <div class="movie-item-title">
                Kimetsu no Yaiba
            </div>
            <div class="movie-infos">
                <div class="movie-info">
                    <i class="bx bxs-star"></i>
                    <span>9.5</span>
                </div>
                <div class="movie-info">
                    <i class="bx bxs-time"></i>
                    <span>24 mins</span>
                </div>
                <div class="movie-info">
                    <span>HD</span>
                </div>
                <div class="movie-info">
                    <span>10+</span>
                </div>
            </div>
        </div>
    </a>
    <!--2-->
    <a href="#" class="movie-item films-right-item">
        <img src="~/sources/images/slide/Myriad_Colors_Phantom_World.jpg" alt="">
        <div class="movie-item-content">
            <div class="movie-item-title">
                Musaigen no Phantom World
            </div>
            <div class="movie-infos">
                <div class="movie-info">
                    <i class="bx bxs-star"></i>
                    <span>9.5</span>
                </div>
                <div class="movie-info">
                    <i class="bx bxs-time"></i>
                    <span>24 mins</span>
                </div>
                <div class="movie-info">
                    <span>HD</span>
                </div>
                <div class="movie-info">
                    <span>10+</span>
                </div>
            </div>
        </div>
    </a>
    <!--3-->
    <a href="#" class="movie-item films-right-item">
        <img src="~/sources/images/slide/eden_zero.jpg" alt="">
        <div class="movie-item-content">
            <div class="movie-item-title">
                Edens Zero
            </div>
            <div class="movie-infos">
                <div class="movie-info">
                    <i class="bx bxs-star"></i>
                    <span>9.5</span>
                </div>
                <div class="movie-info">
                    <i class="bx bxs-time"></i>
                    <span>24 mins</span>
                </div>
                <div class="movie-info">
                    <span>HD</span>
                </div>
                <div class="movie-info">
                    <span>10+</span>
                </div>
            </div>
        </div>
    </a>
    <!--4-->
    <a href="#" class="movie-item films-right-item">
        <img src="~/sources/images/slide/shinigami bocchan.jpg" alt="">
        <div class="movie-item-content">
            <div class="movie-item-title">
                Shinigami Bocchan
            </div>
            <div class="movie-infos">
                <div class="movie-info">
                    <i class="bx bxs-star"></i>
                    <span>9.5</span>
                </div>
                <div class="movie-info">
                    <i class="bx bxs-time"></i>
                    <span>24 mins</span>
                </div>
                <div class="movie-info">
                    <span>HD</span>
                </div>
                <div class="movie-info">
                    <span>10+</span>
                </div>
            </div>
        </div>
    </a>
</div>
</div>


