
@{
    ViewData["Title"] = "Profile";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<div class="profile-container">
    <div class="d-flex align-items-start">
        <div class="nav flex-column nav-pills tab-header" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <button class="tab-header-items active" data-bs-toggle="pill" data-bs-target="#v-pills-profile" type="button">Profile</button>
            <button class="tab-header-items" data-bs-toggle="pill" data-bs-target="#v-pills-security" type="button">Security</button>
            <button class="tab-header-items" data-bs-toggle="pill" data-bs-target="#v-pills-badges" type="button">Badges</button>
            <button class="tab-header-items" data-bs-toggle="pill" data-bs-target="#v-pills-favor" type="button">Favorites</button>
        </div>
        <div class="tab-content" id="v-pills-tabContent">
            <div class="tab-pane fade show tab-content-item active" id="v-pills-profile">
                <div class="tab-content-header">
                    <div class="tab-tite">
                        Profile
                        <p>
                            Manage the account details you've shared with UTA95S including your name, contact info and more
                        </p>
                        <div class="tab-data">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Viverra tellus in hac habitasse platea dictumst vestibulum rhoncus. Tempor orci eu lobortis elementum. Eget felis eget nunc lobortis mattis aliquam faucibus. Auctor neque vitae tempus quam. Tristique sollicitudin nibh sit amet. Ullamcorper eget nulla facilisi etiam dignissim. Dignissim sodales ut eu sem. Mauris nunc congue nisi vitae suscipit tellus mauris a. Lectus arcu bibendum at varius vel pharetra vel.
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade tab-content-item" id="v-pills-security">Security</div>
            <div class="tab-pane fade tab-content-item" id="v-pills-badges">Badges</div>
            <div class="tab-pane fade tab-content-item" id="v-pills-favor">Favorites</div>
        </div>
    </div>
</div>





