@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<header data-aos="fade-up">
    <!-- navbar bootstrap -->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top">
        <div class="container-fluid" id="navbar-container">
            <p class="navbar-brand" href="#" >
                <img src="" width="10px" alt="logo">
            </p>
            <!-- button -->
            <button class="navbar-toggler " type="button" 
                    data-bs-toggle="collapse" 
                    data-bs-target="#navbarSupportedContent" 
                    aria-controls="navbarSupportedContent" 
                    aria-expanded="false" aria-label="Toggle navigation" id="nav-btn">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!-- content -->
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="#section">Home</a>
                    </li>
                    <!-- navbar login -->
                    <li class="nav-item">
                        <!-- active if need -->
                        <a class="nav-link" onclick="togglePopup()"
                           class="first-button"
                           href="#" aria-disabled="true">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#aboutU">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#contactU" aria-disabled="true">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    </header>
        


<!--login form-->
<div class="popup" id="popup-1">
    <div class="wrapper">
        <div class="close-btn" onclick="togglePopup()">
            ×</div>
        <div class="title-text">
            <div class="title title-login">
            </div>
            <div class="title title-signup">
            </div>
        </div>

        <div class="form-container">
            <div class="slide-controls">
                <input type="radio" name="slider" id="login" checked/>
                <input type="radio" name="slider" id="signup"/>
                <label for="login" class="slide login">Login</label>
                <label for="signup" class="slide signup">Signup</label>
                <div class="slide-tab"></div>
            </div>

            <div class="form-inner">
                <!-- form login -->
                @*asp-route / asp-controller / asp-action here*@
                <form asp-route="/home" class="login" method="post" enctype="multipart/form-data">
                   @* <div class="wrong-pass">
                        <p class="wrong-title">${mess}</p>
                    </div>*@
                    <div class="field field-input">
                        <input @*asp-for="email"*@ name="email" type="email" placeholder="Email" required/>
                    </div>
                    <div class="field field-input">
                        <input @*asp-for="passwords"*@ name="pass" id="passwords" type="password" placeholder="Passwords" required/>
                    </div>
                    <div class="show-pass">
                        <input type="checkbox" onclick="checkPass()">
                        <label>Show Passwords</label>
                    </div>
                    <div class="block-space"></div>
                    <div class="pass-link" hidden="">
                        <a href="#" alt="#" class="">Forgot password?</a>
                    </div>
                    <!--captcha here-->
                    <div class="g-recaptcha" data-sitekey="6Lern4AaAAAAAHcDkthqGVzuJ24Qq6_WIGhFSAyn"
                         data-theme="dark" data-size="normal"></div>
                   <div class="field field-submit">
                       @*asp-route / asp-controller / asp-action here*@
                       <a><input type="submit" value="Login"/></a>
                   </div>

                    <div class="signup-link">
                        <span>Not a member?</span>&nbsp<a href="#" alt="#" class="">Signup Now</a>
                    </div>
                   <div class="guess-link">
                       <span>Join with guest account</span>&nbsp
                       <a asp-route="home" alt="guest" class="">GUEST NOW!</a>
                   </div>
                </form>

                <!-- form sign up -->
                @*asp-route / asp-controller / asp-action here*@
                <form asp-controller="Home" asp-action="RandomCode" class="signup" method="post" enctype="multipart/form-data">
                    @*<div class="wrong-repass">
                        <p class="wrong-title">${remess}</p>
                    </div>*@
                    <div class="field field-input">
                        <input @*asp-for="emailSign"*@ name="emailSign" type="email" placeholder="Email" required/>
                    </div>
                    <div class="field field-input">
                        <input @*asp-for="passSign"*@ name="pass" type="password" placeholder="Passwords" required/>
                    </div>
                    <div class="field field-input">
                        <input @*asp-for="repassSign"*@ name="repass" type="password" placeholder="Confirm passwords" required/>
                    </div>
                    <div class="block-space"></div>
                    <div class="g-recaptcha" data-sitekey="6Lern4AaAAAAAHcDkthqGVzuJ24Qq6_WIGhFSAyn"
                         data-theme="dark" data-size="normal"></div>
                    <div class="field field-submit">
                        @*asp-route / asp-controller / asp-action here*@
                        <a><input type="submit" value="Signup"/></a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>