@{
}

<div class="footer-section">
    <div class="container">
        <div class="row-pricing">
            <div class="col-card-4 col-c-md-6 col-c-sm-12">
                <div class="footer-content">
                    <a href="#" class="logo">
                        <i class="fas fa-photo-video"></i>
                        UTA<span class="between-color">95</span>S
                    </a>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        Viverra tellus in hac habitasse platea dictumst vestibulum rhoncus.
                        Tempor orci eu lobortis elementum. Eget felis eget nunc lobortis mattis aliquam faucibus. 
                    </p>
                    <div class="social-list">
                        <a href="#" class="social-item">
                            <i class='bx bxl-facebook-square'></i>
                        </a>
                        <a href="#" class="social-item">
                            <i class='bx bxl-discord' ></i>
                        </a>
                        <a href="#" class="social-item">
                            <i class='bx bx-mail-send' ></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-card-8 col-c-md-6 col-c-sm-12">
                <div class="col-content">
                    <div class="col-card-3 col-c-md-6 col-c-sm-6">
                        <div class="card-content">
                            <p><b class="logo-col1">UTA<span class="between-color">95</span>S</b></p>
                            <ul class="footer-menu">
                                <li><a href="#">Terms of Services</a></li>
                                <li><a href="#">Music web</a></li>
                                <li><a href="#">Social media</a></li>
                                <li><a href="#">Contacts</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-card-3 col-c-md-6 col-c-sm-6">
                        <div class="card-content">
                            <p><b>Category</b></p>
                            <ul class="footer-menu">
                                <li><a href="#">Isekai</a></li>
                                <li><a href="#">Shounen</a></li>
                                <li><a href="#">Shoujo</a></li>
                                <li><a href="#">Seinen</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-card-3 col-c-md-6 col-c-sm-6">
                        <div class="card-content">
                            <p><b>Help</b></p>
                            <ul class="footer-menu">
                                <li><a href="#">About Designer</a></li>
                                <li><a href="#">About Front-End</a></li>
                                <li><a href="#">About Back-End</a></li>
                                <li><a href="#">Contacts</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-card-3 col-c-md-6 col-c-sm-6">
                        <div class="card-content">
                            <p><b>Download App</b></p>
                            <ul class="footer-menu">
                                <li><a href="#">
                                    <p><img src="~/sources/images/footer/google-play.png" alt=""/></p>
                                </a></li>
                                <li><a href="#">
                                    <img src="~/sources/images/footer/app-store.png" alt=""/>
                                </a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="copyright">
    Copyright 2021 <a href="https://github.com/ZerOWL1/Uta95s-Movie-Website" target="_blank">
        UTA95S
    </a>
</div>